@charset "ISO-8859-1";
table {
  border-collapse: collapse;
  width: 100%;
}

tr, th,td {
  border: 1px solid #ccc;
  padding: 5px;
}

th {
  text-align: left;
  background-color: #eee;
}

td {
  text-align: right;
}

.cr {
  color: green;
}

.dr {
  color: red;
}
